<script src="repository.js"></script>
<script src="event_dispatcher.js"></script>
<script src="module.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="module_repository.js"></script>

<style>
.widget{
	float:left; width:300px; margin:20px; border:1px solid #ddd; padding: 10px; height:50px;
}
</style>

<div class="m-module widget" data-module="module1">
	<input class="clickButton" type="button" value="Click me" style="width:13em;font-size:23px">
</div>

<!-- the idea is to load content of the widget and init it upon some event, triggered in another module -->
<div class="m-module widget" data-module="module2"></div>

<script>
(function(){

	var moduleRepository = ModuleRepository(Repository, EventDispatcher, jQuery, Module);

	moduleRepository.defineModule('module1', function(module) {
		return {
			init: function(widget) {
				widget.$.on('click', '.clickButton', function(){
					module.trigger('widget_1_clicked',{});
				});
			}
		}
	});

	moduleRepository.defineModule('module2', function(module) {
		function _loadWidget(widget) {
			module.$.post('async_widget2.html', function(response){
				var newWidget = module.$(response).replaceAll(widget);
				module.removeWidget(widget);
				module.addWidget(newWidget);
				newWidget.$.data('loaded', 'true');
			});
		}

		return {
			init: function(widget) {
				widget.$.on('click', '.alertLink', function(event) {
					event.preventDefault();
					alert('Hello!');
				});
			},
			listeners: {
				'widget_1_clicked': function(event, widget) {
					if (widget.$.data('loaded') !== 'true') {
						_loadWidget(widget);
					}
					console.log('widget_1_clicked handler');
				}
			}
		}
	});
	// repository asks each registered module to init its widgets
	moduleRepository.initWidgets();
	jQuery(document).ajaxComplete(function(){
		setTimeout(function(){
			//moduleRepository.initWidgets();
		}, 100);
	});
})();
</script>