<script src="js/dojo/dojo.js" data-dojo-config="async: true, packages: [
	{ name: 'jquery', location: '../jquery', main: 'jquery' }
]"></script>
<script>
	(function(){
		define.amd.jQuery = true;

		require(["modula/test"], function(test){
			
			test.sayHello();

	  	});
	}());
</script>