<script src="repository.js"></script>
<script src="event_dispatcher.js"></script>
<script>
var dispatcher1 = EventDispatcher(Repository);

var callback1 = function() {
	console.log('callback1 executed');
}

dispatcher1.subscribe({event:'event1'}, callback1);
dispatcher1.trigger({}, {event:'event1'}, function(){
	console.log('all callbacks executed');
});
// =================================================
var rememberNotificator;
var callback2 = function(event, callWhenDone) {
	rememberNotificator = callWhenDone;
	setTimeout(function(){
		console.log('callback2 executed');
		callWhenDone();
	}, 3000);
	return dispatcher1.DEFER;
}
dispatcher1.subscribe({event:'event1'}, callback2);
dispatcher1.trigger({}, {event:'event1'}, function(){
	console.log('all callbacks executed');
});

setTimeout(function(){
	console.log('expecting an exception...');
	rememberNotificator();
}, 4000);

setTimeout(function(){
	dispatcher1.unsubscribe({event:'event1'});
	console.log('unsubscribed all events - nothing should happen');
	dispatcher1.trigger({}, {event:'event1'});
}, 5000);
</script>