<script src="repository.js"></script>
<script src="event_dispatcher.js"></script>

<script>

var dispatcher = EventDispatcher(Repository);

var callback1 = function() {
	console.log('callback1 executed');
	dispatcher.trigger({}, {event:'callback1_executed'});
}

var callback2 = function() {
	console.log('callback2 executed');
	dispatcher.trigger({}, {event:'callback2_executed'});
}

dispatcher.subscribe({event:'callback1_executed'}, callback2);
dispatcher.subscribe({event:'callback2_executed'}, callback1);

setTimeout(callback2, 1000);
</script>