<script src="repository.js"></script>
<script src="event_dispatcher.js"></script>
<script src="module.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="module_repository.js"></script>

<style>
.widget{
	float:left; width:300px; margin:20px; border:1px solid #ddd; padding: 10px; height:50px;
}
</style>

<div class="m-module widget" data-module="module1">
	<input type="text" class="searchField">
	<div>Handled: 
		<span class="handlesCount">0</span> time(s)
	</div>
</div>

<div class="m-module widget" data-module="module2">
	<div>
		<span>text is:</span>
		<span class="searchText"></span>
	</div>
</div>

<div class="m-module widget" data-module="module2">
	<div>
		<span>and there text is:</span>
		<span class="searchText"></span>
	</div>
</div>

<script>
(function(){
	var moduleRepository = ModuleRepository(Repository, EventDispatcher, jQuery, Module);
	moduleRepository.defineModule('module1', function(module) {
		// can I use this here to access module? bad idea for async. things
		function _textChanged(searchText) {
			console.log('search_text_changed - triggered');
			module.trigger('search_text_changed', {text: searchText});
		}
		var _hanlesCount = 0;
		return {
			init: function(widget) {
				widget.$.on('keyup', '.searchField', function(){
					_textChanged(this.value);
				});
			},
			listeners: {
				'search_text_change_handled': function(event, widget) {
					var $counter = widget.$.find('.handlesCount');
					$counter.html(++_hanlesCount);
				}
			}
		}
	});

	moduleRepository.defineModule('module2', function(module){
		return {
			listeners: {
				'search_text_changed' : function(event, widget) {
					widget.$.find('.searchText').html(event.text);
					module.trigger('search_text_change_handled', {});
					console.log('search_text_changed - handled: '+event.text);
				}
			}
		}
	});

	// repository asks each registered module to init its widgets
	moduleRepository.initWidgets();
})();
</script>