<script src="mootools-1.4.5.js"></script>
<script>
var Cat = new Class(
	(function(){
		var _test = function() {
	    	console.log('test');
	    }
		return {
		    initialize: function(name){
		        this.name = name;
		    },
		    test: function(){
		    	_test();
		    	//console.log('simple test');
		    }
		}
	}())
);
var myCat = new Cat('Micia');
//myCat.test();
//console.log(myCat.name); // alerts 'Micia'
 
var Cow = new Class({
	Extends: Cat,
    initialize: function(){
        //console.log('moooo');
    },
    test: function() {
    	this.parent();
    }
});
var myCow = new Cow('Cow');
myCow.test();
Cow.implement({
	'hello' : function(){
		console.log('say hello');
		var f = this.test.bind(this);
		setTimeout(function(){
			f();
		}, 100);
		
	}
});
myCow.hello();
//console.log(myCow.name);
</script>