<script src="repository.js"></script>
<script>
	var r1 = Repository();
	r1.add('module1.event1', {module: 'module1', event: 'event1'});
	r1.add('module2.event2', {module: 'module2', event: 'event2'});
	r1.add('module3.event1', {module: 'module3', event: 'event1'});
	r1.add('module2.event4', {module: 'module2', event: 'event4'});

	console.log('should find module1.event1');
	console.log(
		r1.find({module:'module1'})
	);

	console.log('should find module2.event2, module2.event4');
	console.log(
		r1.find({module:'module2'})
	);

	console.log('should find module2.event2');
	console.log(
		r1.find({module:'module2', event:'event2'})
	);
</script>

<script>
	var r2 = Repository();
	console.log('should find nothing');
	console.log(
		r2.getAll()
	);
</script>
<script>
	console.log('should find all');
	console.log(r1.getAll());
	var module1 = r1.find({module:'module1'})[0];
	r1.remove(module1);
	console.log('should find all but module1');
	console.log(r1.getAll());
	console.log('should find only module3.event1');
	console.log(r1.find({event:'event1'}));
</script>