<!--
The goal here is to have one widget loaded along with the page and 2 async ones, which preserve their state
and react upon events in other widgets.
-->

<!-- generic styling -->
<link rel="stylesheet" href="style.css" />

<!-- tech. stuff for the widget/moduels handling -->
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="../modlr.js"></script>
<!--
TODO:
<script src="modlr.js(.php)?global=app" ></script>
also: 
 - bind to document.ready with jQuery right in modlr.js
-->

<!-- js modules along with css required by their widgets -->
<script src="module_cc_list.js"></script>
<link rel="stylesheet" href="style_cc_list.css" />

<script src="module_cc_details.js"></script>
<link rel="stylesheet" href="style_cc_details.css" />

<script src="module_currencies.js"></script>
<link rel="stylesheet" href="style_currencies.css" />

<!-- here widgets begin -->
<div class="m-module widget b-cc_list" data-module="cc_list" style="float:left">
	<div class="title"><b>Credit cards</b></div>
	<a href="" class="list_item data-item_link" data-id="1">
		<div>
			Virtual corporate CA *1111
			<span class="indicator data-indicator_1"><img src="ajax-loader.gif" /></span>
		</div>
		<div class="data-amount_cached">100.000,00 UAH</div>
	</a>
	<a href="" class="list_item data-item_link" data-id="2">
		<div>
			MC Gold *2222
			<span class="indicator data-indicator_2"><img src="ajax-loader.gif" /></span>
		</div>
		<div class="data-amount_cached">500.040,00 USD</div>
	</a>
	<a href="" class="list_item data-item_link" data-id="3">
		<div>
			Virtual internet visa *3333
			<span class="indicator data-indicator_3"><img src="ajax-loader.gif" /></span>
		</div>
		<div class="data-amount_cached">60.840,00 USG</div>
	</a>
</div>

<div style="position:relative; float:left">
	<div class="m-module widget b-cc_details" data-module="cc_details">
		<div class="title"><b>cc details</b></div>
	</div>

	<div class="m-module widget b-currencies" data-module="currencies" data-url="widget_currencies.html">
		<div class="title"><b>currencies</b> <img src="ajax-loader.gif" /></div>
	</div>
	<br style="clear:both" />
</div>

<div class="widget" style="float:left">
	<div><b>Description</b></div>
	<p>
		<i>Credit cards</i> - pre-loaded widget (exists at page from the start). Listens to events in <i>cc details</i>
		module - shows progress indicator when cc details starts to load and hides it once loading finished.
	</p>
	<p>
		<i>cc details</i> - loaded when some CC clicked (responds to even triggered in <i>Credit cards</i> widget).
	</p>
	<p>
		<i>currencies</i> - self-loading widget - loads async. after page loaded.
	</p>
</div>
