.b-cc_list .title {
	background-color: #666666;
	color: #efefef;
	padding:2px;
}

.b-cc_list .list_item {
	display:block;
	text-decoration: none;

	background-color: #9999af;
	border-bottom: 1px solid #dddddd;
	padding:2px;
	color: #333333;
}

.b-cc_list .indicator {
	float:right;
	display:none;
}